In [1]:
import pandas as pd
from csv_prepare import csv_import
from create_df import read_df

In [2]:
csv_import()

added file:  22-01-01_22-12-31_Tagstrom_Tageswerte.csv

()

In [3]:
read_df()

,Unnamed: 0,Ablesezeitpunkt,Zaehlerstand Einheitstarif,Zaehlerstand Hochtarif,Zaehlerstand Niedertarif,Verbrauch Einheitstarif,Verbrauch Hochtarif,Verbrauch Niedertarif
0,0,2022-01-01 00:00:00+01:00,466.455139,0,0,4.599803,0,0
1,1,2022-01-02 00:00:00+01:00,471.054932,0,0,4.599803,0,0
2,2,2022-01-03 00:00:00+01:00,475.654724,0,0,4.599802,0,0
3,3,2022-01-04 00:00:00+01:00,480.254547,0,0,4.599803,0,0
4,4,2022-01-05 00:00:00+01:00,484.85434,0,0,4.599803,0,0
...,...,...,...,...,...,...,...,...
725,360,2022-12-27 00:00:00+01:00,2097.376,0,0,2.678,0,0
726,361,2022-12-28 00:00:00+01:00,2103.27,0,0,5.894,0,0
727,362,2022-12-29 00:00:00+01:00,2107.235,0,0,3.965,0,0
728,363,2022-12-30 00:00:00+01:00,2113.575,0,0,6.34,0,0
729,364,2022-12-31 00:00:00+01:00,2116.692,0,0,3.117,0,0